import gleam/bit_string
import gleam/erlang/file
import gleam/float
import gleam/int
import gleam/io
import gleam/list
import gleam/order
import gleam/result
import gleam/string

fn run(input) {
  input
}

pub fn main() {
  assert Ok(input) = file.read("input/day_%N%")
  let input = string.trim(input)
  run(input)
}
